body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

input[type="file"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 163px;
}

p {
  font-size: 1.1em;
  color: #333;
}

#description-box {
  margin-top: 30px;
  padding: 15px 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background: #f9f9f9;
  min-width: 300px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  visibility: hidden;
  white-space: pre-line;
}

#info {
  font-family: sans-serif;
  position: fixed;
  top: 0px;
  right: 25px;
  color: white;
  font-size: 1.5em;
  white-space: pre-wrap;
}

#myOutput {
  font-weight: bold;
  color: #007bff;
  white-space: pre-wrap;
  text-align: center;
}

#score {
  font-family: sans-serif;
  position: fixed;
  top: 0px;
  left: 25px;
  color: white;
  font-size: 1.5em;
  white-space: pre-wrap;
}

#startButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  color: white;
}

.correct {
  color: #39ff14;
}

.crossed-out {
  text-decoration: line-through;
  color: red;
}

.image-container {
  display: flex;
  gap: 15px;
}

.image-container img {
  display: flex;
  width: 25%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
  align-items: center;
}

.image-container img:hover {
  transform: scale(1.05);
}

.leftover {
  color: #007bff;
}

.shake-infinite {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0px);
  }
  20%,
  60% {
    transform: translateY(-3px);
  }
  40%,
  80% {
    transform: translateY(3px);
  }
}
